@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0a2a43;
    min-height: 1500px;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
    z-index: 10;
}

section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  #0a2a43;
    z-index: 10;
    mix-blend-mode: color;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Смещаемый контент меняет свой размер таким образом, чтобы сохранять свои пропорции при заполнении блока:
    окончательный размер контента будет определен как "покрытие" блока, ограничиваясь его шириной и высотой.*/
    object-fit: cover;
    pointer-events: none;
}

#road {
    z-index: 2;
}

h2 {
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}
