* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("assets/basement.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.lantern {
    position: absolute;
    width: 100%;
    height: 100%;
}
