.container {
  z-index: -1;
  position: absolute;
  left: -10%;
  width: 120%;
  height: calc(100vh - 64px);
  background: radial-gradient(#e1f1e5, #acdabb);

  .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 64px);

    &.waves {
      animation: wave-move 8s;
      animation-iteration-count: infinite;
    }

    &.waves-with-boat {
      animation: wave-and-boat-move 12s linear infinite;
    }

    &.waves-with-boat-left {
      animation: wave-and-boat-move-left 12s linear infinite;
    }

    &.waves-with-boat-center {
      animation: wave-and-boat-move-center 16s linear infinite;
    }

    &.clouds-right {
      animation: clouds-move-right 30s linear infinite;
    }

    &.birds {
      animation: birds-move 60s linear infinite;
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

$keyframes-list:
        "clouds-move-right" 0 120px,
        "wave-and-boat-move-center" 20px 120px,
        "wave-move" 0 140px,
        "wave-and-boat-move" -40px 80px,
        "wave-and-boat-move-left" -30px -80px;

@each $keyframe-name, $top, $left in $keyframes-list {
  @keyframes #{$keyframe-name} {
    0% {
      left: 0;
      -webkit-animation-timing-function: ease-in;
    }
    50% {
      top: $top;
      left: $left;
    }
    100% {
      left: 0;
      -webkit-animation-timing-function: ease-in;
    }
  }
}

@keyframes birds-move {
  0% {
    left: -1600px;
  }
  20% {
    left: -800px;
    top: 150px;
  }
  35% {
    left: -400px;
    top: 0;
  }
  50% {
    left: 0;
    top: -30px;
  }
  65% {
    left: 400px;
    top: 100px;
  }
  80% {
    left: 800px;
    top: 200px;
  }
  100% {
    left: 1600px;
    top: 0;
  }
}
