@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* image-rendering - sets an image scaling algorithm. default it - "crisp-edges" */

:root {
    --pixel-size: 16;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #96ffc1;
 }

 .character-box {
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
    overflow: hidden;
    position: relative;
 }

 /* 
 steps - an animation option, the same as linear or ease-out 
 steps(4) - will perform not smooth animation, but in 4 frames
 */
 .character_spritesheet {
    position: absolute;
    width: calc(128px * var(--pixel-size)); /* 128px = 32px of each sprite * 4 sprites */
    animation: moveSpritesheet 1s steps(4) infinite;
    
}

 .character-shadow_sprite {
     position: absolute;
     width: calc(32px * var(--pixel-size));
 }

 .pixelart {
     image-rendering: pixelated; /* removes browser bluring and beautifiying of small images */
 }

 .move-down {
    top: calc(0px * var(--pixel-size));
 }

 .move-right {
    top: calc(-32px * var(--pixel-size));
 }

 .move-up {
    top: calc(-64px * var(--pixel-size));
 }

 .move-left {
    top: calc(-96px * var(--pixel-size));
 }

 /* takes image from its original position and moves it 100% of itself to left */
 @keyframes moveSpritesheet {
    from {
       transform: translate3d(0px,0,0)
    }
    to {
       transform: translate3d(-100%,0,0)
    }
 }