* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3498db;
    padding: 3em;
    font-family: 'Sora', monospace;
}

.text-box {
    font-size: 6vw;
    word-spacing: 0.2em;
    margin: 0 auto;
    background: #fff;
    padding: 1em;
    border-bottom: 1vw solid #0e6dad;
    position: relative;
    line-height: 1.2em;
}

.text-box__corner {
    position: absolute;
    width: 10vw;
    right: 2vw;
    bottom: 0;
    transform: translateY(80%);
}

.text-box span {
    opacity: 0;
}

.text-box span.revealed {
    opacity: 1;
}

.text-box span.green {
    color: #27ae60;
}

.text-box span.red {
    color: #ff0000;
}
